In [1]:
# Cell 1: Setup and imports
import pandas as pd
from sqlalchemy import create_engine
from tabulate import tabulate

# Database connection setup
DB_CONFIG = {
    'dbname': 'defaultdb',
    'user': 'doadmin',
    'password': 'AVNS_SrG4Bo3B7uCNEPONkE4',
    'host': 'vvv-trading-db-do-user-2110609-0.i.db.ondigitalocean.com',
    'port': '25060',
    'sslmode': 'require'
}

# Create database URL
DATABASE_URL = f"postgresql://{DB_CONFIG['user']}:{DB_CONFIG['password']}@{DB_CONFIG['host']}:{DB_CONFIG['port']}/{DB_CONFIG['dbname']}"

# Create engine with SSL required
engine = create_engine(
    DATABASE_URL,
    connect_args={
        'sslmode': 'require'
    }
)

In [2]:
# Cell 2: Table counts query
query = """
SELECT 
    'trading.darkpool_trades' as table_name,
    COUNT(*) as row_count,
    MAX(collection_time) as last_update
FROM trading.darkpool_trades

UNION ALL

SELECT 
    'trading.options_flow' as table_name,
    COUNT(*) as row_count,
    MAX(collected_at) as last_update
FROM trading.options_flow

UNION ALL

SELECT 
    'trading.news_headlines' as table_name,
    COUNT(*) as row_count,
    MAX(collected_at) as last_update
FROM trading.news_headlines

UNION ALL

SELECT 
    'trading.collector_logs' as table_name,
    COUNT(*) as row_count,
    MAX(timestamp) as last_update
FROM trading.collector_logs

ORDER BY table_name;
"""

try:
    counts_df = pd.read_sql_query(query, engine)
    print("\nTable Row Counts:")
    display(counts_df)
except Exception as e:
    print(f"Error executing query: {str(e)}")

Table Row Counts:

                table_name  row_count                      last_update
0   trading.collector_logs      13396 2025-05-03 11:30:02.981436+00:00
1  trading.darkpool_trades      15438 2025-05-02 19:55:03.284677+00:00
2   trading.news_headlines          0                              NaT
3     trading.options_flow          0                              NaT

In [4]:
# Cell 4: Recent news headlines query
news_query = """
SELECT 
    headline,
    source,
    published_at,
    symbols,
    sentiment,
    impact_score,
    collected_at
FROM trading.news_headlines
ORDER BY published_at DESC
LIMIT 5
"""

try:
    news_df = pd.read_sql_query(news_query, engine)
    print(f"\nMost recent {len(news_df)} news headlines:")
    display(news_df)
except Exception as e:
    print(f"Error executing query: {str(e)}")

Most recent 0 news headlines:

Empty DataFrame
Columns: [headline, source, published_at, symbols, sentiment, impact_score, collected_at]
Index: []